{%- trans_default_domain "NitraStoreBundle" -%}

<!DOCTYPE html>
<html lang="ru" {% block open_graf_attributes '' %}>
    <head>
        <meta charset="UTF-8" />
        {% block meta_info %}
            {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type':'info', 'uri': app.request.uri }) %}
        {% endblock meta_info %}

        {% block open_graf_meta '' %}

        {% block icons %}
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        {% endblock icons %}

        {% block stylesheets %}
            {% stylesheets
                'bundles/nitrastore/css/colorbox.css'
                'bundles/nitrastore/css/select2.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock stylesheets %}

        {% block javascript_head %}
            {% javascripts
                '@NitraStoreBundle/Resources/public/js/jquery-1.10.2.js'
                '@NitraStoreBundle/Resources/public/js/jquery-migrate-1.2.1.js'
                '@NitraStoreBundle/Resources/public/js/jquery.colorbox-min.js'
                '@NitraStoreBundle/Resources/public/js/common.js'
                '@NitraStoreBundle/Resources/public/js/tab.js'
                '@NitraStoreBundle/Resources/public/js/html5shiv.js'
                '@NitraStoreBundle/Resources/public/js/select2.js'
                '@NitraProductBundle/Resources/public/js/jcarousellite.min.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascript_head %}

        {% block suggest_scripts %}
            {% include "NitraProductBundle:Search:suggestScripts.html.twig" %}
        {% endblock suggest_scripts %}

    </head>

    <body class="{% block body_class '' %}">
        {% block body %}
            {% block wrapper %}
                <section class="wrapper">
                    {% block wrapper_content %}
                        {% block siteheart %}
                            {% render controller("NitraStoreBundle:Common/Common:siteHeart") %}
                        {% endblock siteheart %}

                        {# HEADER BLOCK #}
                        {% block header_block %}
                            <header class="header">
                                {% block header_conteiner %}
                                    <div class="header_conteiner">
                                        {% block header %}
                                            {% block switcher '' %}

                                            {% block header_info %}
                                                {% render controller("NitraInformationBundle:Information/Information:informationMenu", {'locationInfo':'header'}) %}
                                            {% endblock header_info %}

                                            {% block logo %}
                                                <a class="logo" href="{{ path('nitra_store_home_index') }}"><span>{{ 'storeNitralabs'|trans }}</span></a>
                                            {% endblock logo %}

                                            {% block header_contacts %}
                                                {% render controller("NitraStoreBundle:Common/Common:contacts") %}
                                            {% endblock header_contacts %}

                                            {% block header_feedback %}
                                                <a class="feedback colorbox" href="{{ path('review') }}"><span>{{ 'reviewSupervisor'|trans }}</span></a>
                                            {% endblock header_feedback %}

                                            {% block header_callback %}
                                                <a class="callback colorbox" href="{{ path('call_me') }}"><span>{{ 'callBack'|trans }}</span></a>
                                            {% endblock header_callback %}

                                            {% block header_search %}
                                                {% render controller("NitraProductBundle:Product/Search:headerSearch", {'pathInfo': app.request.pathInfo}) %}
                                            {% endblock header_search %}

                                            {% block header_worktime %}
                                                {% render controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", {'location':'work_time_header'}) %}
                                            {% endblock header_worktime %}

                                            {% block header_cart %}
                                                <div id="cart_module" class="cart_box">
                                                    {% render controller("NitraStoreBundle:Checkout/Checkout:cartModule") %}
                                                </div>
                                            {% endblock header_cart %}
                                        {% endblock header %}
                                    </div>
                                {% endblock header_conteiner %}
                            </header>
                        {% endblock header_block %}

                        {# MENU BLOCK #}
                        {% block nav %}
                           {% set catId = (category is defined) ? category.id : ((product is defined) ? product.model.category.id : null) %}
                           {% render controller("NitraProductBundle:Category/Category:categoryMenu", {'category_id': catId, 'pageUrl': app.request.requesturi }) %}
                        {% endblock %}

                        {# Content BLOCK #}
                        {% block main_block %}
                            <section class="main">
                                <div class="main_conteiner {% block main_class '' %}">
                                    {% block main %}
                                        {% block breadscrumbs '' %}

                                        {% block main_compare %}
                                            {#{ include('NitraCompareBundle:Compare:compareButtonCount.html.twig') }#}
                                        {% endblock main_compare %}

                                        {% block main_content %}
                                            <section class="content {% block content_class '' %}">
                                                {% block content '' %}
                                            </section>
                                        {% endblock main_content %}

                                        {% block main_seotext %}
                                            {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type':'desc', 'uri': app.request.uri}) %}
                                        {% endblock main_seotext %}
                                    {% endblock main %}
                                </div>
                            </section>
                        {% endblock main_block %}
                    {% endblock wrapper_content %}
                </section>
            {% endblock wrapper %}

            {# FOOTER BLOCK #}
            {% block footer_block %}
                <footer class="footer">
                    <div class="footer_conteiner">
                        {% block footer %}
                            {% block footer_info %}
                                {% render controller("NitraInformationBundle:Information/Information:informationMenu", {'locationInfo':'footer'}) %}
                            {% endblock footer_info %}

                            {% block footer_worktime %}
                                {% render controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", {'location':'work_time_footer'}) %}
                            {% endblock footer_worktime %}

                            {% block footer_contacts %}
                                {% render controller("NitraStoreBundle:Common/Common:contacts") %}
                            {% endblock footer_contacts %}

                            {% block footer_copyright %}
                                <span class="copyright">© {{ "now"|date("Y") }} {{ 'rightsReserved'|trans }}</span>
                            {% endblock footer_copyright %}

                            {% block footer_nitra_info %}
                                <div class="nitra_info">
                                    <span>{{ 'development.title'|trans }}<a title="{{ 'development.message'|trans }}" class="nitra" href="//www.nitra.ua/" target="_blank">{{ 'NitraLabs'|trans }}</a></span>
                                    <span>{{ 'advertising.title'|trans }}<a title="{{ 'advertising.message'|trans }}" class="patrick" href="//www.patrik.marketing/" target="_blank">{{ 'NitraMarketing'|trans }}</a></span>
                                </div>
                            {% endblock footer_nitra_info %}
                         {% endblock footer %}
                    </div>
                </footer>
            {% endblock footer_block %}
            {% block remarketing_code %}
                {% render controller("NitraStoreBundle:Common/Common:remarkiting") %}
            {% endblock remarketing_code %}
        {% endblock body %}
        {% block analytics_code %}
            {% render controller("NitraStoreBundle:Common/Common:analyticsKod") %}
        {% endblock analytics_code %}
        {% block yandex_code %}
            {% render controller("NitraStoreBundle:Common/Common:yandexMetrica") %}
        {% endblock yandex_code %}
    </body>
</html>