{# Main BLOCK #}

{% block main_content %}
    {# Right BLOCK #}
    {% block section_right %}
    <section class="column_right">
        {{ block('column_right') }}
    </section>
    {% endblock %}

    {# Content BLOCK #}
    {% block section_content %}
        <section class="content {% block with_right_class %}with_right{% endblock %} {% block content_class '' %}">
            {{ block('content') }}
        </section>
    {% endblock %}
{% endblock main_content %}