<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
    {% for entrie in entries %}
        <url>
            <loc>{{ entrie.link }}</loc>
            {% if (entrie.image is defined) and (entrie.image is not empty) %}
                <image:image>
                    <image:loc>{{ entrie.image.link }}</image:loc>
                    <image:title>{{ entrie.image.title }}</image:title>
                </image:image>
            {% endif %}
            <lastmod>{{ lastMod }}</lastmod>
            {% if changeFreq != '' %}
                <changefreq>{{ changeFreq }}</changefreq>
            {% endif %}
        </url>
    {% endfor %}
</urlset> 