{% trans_default_domain "NitraStoreBundle" %}

{% block promo_code %}
    {% block promo_code_block %}
        <div class="promo_code">
            {% block add_promo_code %}
                <button id="add_promo_code" {% if app.session.get('promo_code') %}style="display:none;"{% endif %}>{% trans %}promoCode.add{% endtrans %}</button>
            {% endblock add_promo_code %}

            {% block error_promo_code %}
                <div id="error_promo_code" style="display:none;"></div>
            {% endblock error_promo_code %}

            {% block enter_promo_code %}
                <div id="enter_promo_code" style="display:none;">
                    {% trans %}promoCode.enter{% endtrans %}:
                    <span>
                        <input type="text" id="promo_code" size="10">
                    </span>
                    {% block accept_promo_code %}
                        <button id="accept_promo_code">{% trans %}accept{% endtrans %}</button>
                    {% endblock accept_promo_code %}
                </div>
            {% endblock enter_promo_code %}

            {% block enter_promo_code %}
                <div id="right_promo_code" {% if not(app.session.get('promo_code')) %}style="display:none;"{% endif %}>
                    {% block promo_code_info %}
                        {{ 'promoCode.used'|trans }}:
                        <span>
                            {% if app.session.get('promo_code') %}
                                {{ app.session.get('promo_code').kod }}
                                ({{ 'discount'|trans }} {{ app.session.get('promo_code').percent }} %)
                            {% endif %}
                        </span>
                    {% endblock promo_code_info %}
                    {% block promo_code_button %}
                        <button id="cancel_promo_code">{{ 'cancel'|trans }}</button>
                    {% endblock promo_code_button %}
                </div>
            {% endblock enter_promo_code %}
         </div>
    {% endblock promo_code_block %}

    {% block promo_code_script %}
        <script type="text/javascript">
            $( document ).ready(function() {
                $('#add_promo_code').click(function(){
                    $(this).fadeOut(400);
                    $('#promo_code').val('');
                    $(this).parent().children('#enter_promo_code').delay(400).fadeIn(400);
                });

                $('#accept_promo_code').click(function(){
                    $.ajax({
                            type: "post",
                            url: "{{ path ('set_cupon') }}",
                            data: {
                                code: $('#promo_code').val()
                            },
                            success: function(html) {
                                $('#enter_promo_code').fadeOut(400);
                                var res = JSON.parse(html);
                                var code = res.kod+'({% trans %}discount{% endtrans %} ' + res.percent + ' %)';
                                $('#right_promo_code span').html(code);
                                $('#right_promo_code').delay(400).fadeIn(400);
                                updateCart();
                            },
                            error: function() {
                                $('#error_promo_code').fadeIn(400).html('{% trans %}promoCode.invalid{% endtrans %}').delay(2000).fadeOut(400);
                            }
                    });
                });

                $('#cancel_promo_code').click(function(){
                    $.ajax({
                            type: "POST",
                            url: "{{ path ('cancel_cupon') }}",
                            success: function(html) {
                                $('#right_promo_code').fadeOut(400);
                                $('#add_promo_code').delay(400).fadeIn(400);
                                $(".cart_products").html(html);
                            }
                    });
                });
            });
            </script>
        {% endblock promo_code_script %}
{% endblock promo_code %}
