{% trans_default_domain "NitraStoreBundle" %}

<div id="quick_buy_block" class="quick_buy_block">
    {% block quick_buy %}
        {% block quick_buy_close %}
            <a class="close" onclick="$('#quick_buy_block').hide();"></a>
        {% endblock quick_buy_close %}
            
        <div id="quick_buy_content" class="quick_buy_content">    
            {% render(controller("NitraStoreBundle:Common/Common:counter", {'target': 'fast_order' })) %}     
            {% block quick_buy_title %}
                <div class="title">{{ 'quickbuy.title'|trans }}</div>
            {% endblock quick_buy_title %}

            {% block quick_buy_text %}
                {% render controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", {'location':'quick_buy'}) %}
            {% endblock quick_buy_text %}

            {% block quick_buy_form %}
                {{ form(form, {'action' : path("quick_order_page"), 'method': 'post', 'attr': {'id': 'quick_cart_info'} }) }}
            {% endblock quick_buy_form %}
                
            {% block quick_buy_loader %}
                <div class="loader" id="loader" style="display: none">
                    {% image '@NitraStoreBundle/Resources/public/images/loading.gif' %}
                        <img src="{{ asset_url }}" alt="loading" />
                    {% endimage %}
                </div>
            {% endblock quick_buy_loader %}   
                
            {% block quick_buy_script %}
            <script type="text/javascript">
                $('#quick_order_send').click(function() {
                    $('#loader').show();
                    $.ajax({
                            type: "POST",
                            url: "{{ path ('quick_order_page') }}",
                            data: $('#quick_cart_info').serialize(),
                            success: function(html) {
                                $("#quick_buy_content").html(html);
                            }
                    });
                    return false;
                });
            </script>
        {% endblock quick_buy_script %}
        </div>
     {% endblock quick_buy %}
</div>