{% trans_default_domain "NitraStoreBundle" %}
<table width="600" cellspacing="0" cellpadding="0" align="center" style="color: #555;  font-size: 12px; font-family: Arial, sans-serif; line-height: 1.2;">
    <tbody>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td collspan="4" style="border: 1px solid #dadada; background-color: #f6f6f6; box-shadow: 1px 1px 0px #fff inset, -1px -1px 0px #fff inset;">
                            <table width="660" cellspacing="0" cellpadding="0" align="center" style="font-family: Arial, sans-serif; font-size: 14px;">
                                <tbody>
                                    {% block table_content %}
                                        <tr>
                                            <td colspan="4">
                                                <div style="margin: 10px 20px 30px">
                                                    <div style="font-size: 20px; text-align: center; margin-bottom: 30px;">
                                                        {{ 'order.mailingThemes.orderSite'|trans }} {{ orderData.store_name }} {{ orderId ? (('<span style="color: #2C94CC;">№' ~ orderId ~ '</span>' ~ 'order.mailingThemes.create'|trans)|raw) : 'order.mailingThemes.noCreate'|trans }}
                                                    </div>
                                                    <div style="font-size: 16px; color: #2C94CC; margin-bottom: 6px;">{{ 'order.mailingThemes.name'|trans }} <span style="font-size: 16px; color: #555;">{{ orderData.fio }}</span></div>
                                                    <div style="font-size: 16px; color: #2C94CC; margin-bottom: 6px;">{{ 'order.mailingThemes.phone'|trans }} <span style="font-size: 16px; color: #555;">{{ orderData.phone }}</span></div>
                                                    {% if orderData.email is defined and orderData.email %}
                                                        <div style="font-size: 16px; color: #2C94CC; margin-bottom: 6px;">{{ 'order.mailingThemes.email'|trans }} <span style="font-size: 16px; color: #555;">{{ orderData.email }}</span></div>
                                                    {% endif %}
                                                        <div style="font-size: 16px; color: #2C94CC; margin-bottom: 6px;">{{ 'order.mailingThemes.city'|trans }} <span style="font-size: 16px; color: #555;">{{ orderData.city_name }}</span></div>
                                                    {%if orderData.comment is defined and orderData.comment %}
                                                        <div style="font-size: 16px; color: #2C94CC; margin-bottom: 6px;">{{ 'order.mailingThemes.info'|trans }} <span style="font-size: 16px; color: #555;">{{ orderData.comment }}</span></div>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="padding: 0 20px;">
                                                <table width="560" cellspacing="0" cellpadding="10" align="center" border="1" style="border-color: #bab4b3; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 12px;">
                                                    <tbody>
                                                        <tr>
                                                            <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.product'|trans }}</th>
                                                            <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.brand'|trans }}</th>
                                                            <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.category'|trans }}</th>
                                                            <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.count'|trans }}</th>
                                                            <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.price'|trans }}</th>
                                                            <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.sale'|trans }}</th>
                                                            <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.total'|trans }}</th>
                                                        </tr>
                                                        {% set amount = 0%}
                                                        {% for product in orderData.products %}
                                                            <tr>
                                                                <td>{{ product.name }}</td>
                                                                <td>{{ product.brand }}</td>
                                                                <td>{{ product.category }}</td>
                                                                <td>{{ product.quantity }}</td>
                                                                <td>{{ product.price|price }}</td>
                                                                <td>{{ product.discount }}</td>
                                                                <td>{{ product.priceDiscount * product.quantity|price }}</td>
                                                                {% set amount = amount + product.priceDiscount * product.quantity %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" align="right">
                                                <div style="font-size: 20px;  margin: 20px;">{{ 'order.mailingThemes.total'|trans }}: <span style="color: #2C94CC; font-size: 24px;">{{ amount|price }}</span></div>
                                            </td>
                                        </tr>
                                    {% endblock table_content %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>