{% extends "NitraStoreBundle:Common:review.html.twig" %}

{% trans_default_domain "NitraStoreBundle" %}

{% block class %}call_me{% endblock class %}

{% block review_block_title %}<div class="title">{{ 'callMe.block_title'|trans|raw }}</div>{% endblock review_block_title %}

{% block review_page_title %}<h1>{{ 'callMe.title'|trans|raw }}</h1>{% endblock review_page_title %}

{% block review_text %}{% render (controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", {'location': 'call_me' })) %}{% endblock review_text %}

{% block path %}{{ path ('call_me') }}{% endblock path %}

{% block error_text %}{{ 'callMe.error'|trans|raw }}{% endblock %}