{% if (phones or skype or isq or email) is not empty %}
    <div class="contacts">
        {% block contacts %}
            {% block contacts_visible %}
                <div class="visible">
                    {% for phone in phones if (phone.status and phone.operator is defined) %}
                        {% block visible_phone %}
                            <div class="icon phone {{ phone.operator }}">{{ phone.phoneNumber|raw }}</div>
                        {% endblock visible_phone %}
                    {% endfor %}
                </div>
            {% endblock contacts_visible %}

            {% block contacts_drop %}
                <div class="drop">
                    {% block contacts_drop_content %}
                        {% for phone in phones if (phone.status is empty and phone.operator is defined) %}
                            {% block drop_phone %}
                                <div class="icon phone {{ phone.operator }}">{{ phone.phoneNumber|raw }}</div>
                            {% endblock drop_phone %}
                        {% endfor %}

                        {% for skypeContact in skype %}
                            {% block drop_skype %}
                                <div class="icon skype">{{ skypeContact.skype|raw }}</div>
                            {% endblock drop_skype %}
                        {% endfor %}

                        {% for emailContact in email %}
                            {% block drop_email %}
                                <div class="icon email">{{ emailContact.email|raw }}</div>
                            {% endblock drop_email %}
                        {% endfor %}

                        {% for icqContact in isq %}
                            {% block drop_icq %}
                                <div class="icon isq">{{ icqContact|raw }}</div>
                            {% endblock drop_icq %}
                        {% endfor %}
                    {% endblock contacts_drop_content %}
                </div>
            {% endblock contacts_drop %}
        {% endblock contacts %}
    </div>
{% endif %}