{% block currency_selector %}
    <div class="currency_selector">
        {% block form %}
            {{ form(form) }}
        {% endblock form %}
        {% block js %}
            <script type="text/javascript">
                $(document).ready(function(){
                    $('#{{ form.vars.id }}').change(function(){
                        var selected = $(this).find(':selected');
                        $.ajax({
                            url:        "{{ path('currency') }}/" + selected.val(),
                            type:       "POST",
                            success:    function(data){
                                location.reload();
                            }
                        });
                    });
                });
            </script>
        {% endblock js %}
    </div>
{% endblock currency_selector %}