{% trans_default_domain "NitraStoreBundle" %}

{% block success_container %}
    {% block counter %}
        {% if counter_target is defined %}
            {% render(controller("NitraStoreBundle:Common/Common:counter", {'target': counter_target})) %}
        {% endif %}
    {% endblock counter %}
    <div class="success">
        {% block success %}
            {{ text|raw }}
        {% endblock success %}
    </div>
{% endblock success_container %}