/*************************** Base styles *************************/
/*links*/
@color:        #777;
@color_name:   #3185CE;
@color_link:   #2C94CC;
@color_grey:   #555;
@color_red:    #E65F0F;
@color_text:   #555;

/*borders*/
@border_grey:  #dadada;

/*another*/ 
@white:        #fff; 
@shadow_color: #2d6ca0;
@box_shadox:   rgba(0,0,0,0.15);

/*block size */
@left-col-width: 22%;
@right-col-width: 22%;
@footer_height: 185px;

/************************** Base classes ************************************/
.centre            (@width: 960px)          { margin:0 auto; width: @width;}
.with_left_col     (@i:10px)                { margin-left: @left-col-width+@i;}
.with_right_col    (@i:10px)                { margin-left: @right-col-width+@i;}

.absolute_l        (@top: 0px, @left: 0px)  { position: absolute; top: @top; left: @left; }
.absolute_r        (@top: 0px, @right: 0px) { position: absolute; top: @top; right: @right; }

.round_box         (@color: @border_green, @radius: 2px) { border-radius: @radius;  -moz-border-radius: @radius; -webkit-border-radius: @radius; border: 1px solid @color; }
.focus                                      { .round_box (lighten(@color_link, 10%), 3px); }
.drop_box          (@padding: 10px)         { .absolute_l(100%,-1px); .round_box(@border_grey, 0px 0px 3px 3px); z-index: 100; padding: @padding; box-shadow: 0px 2px 3px rgba(0,0,0,0.1); background: @white; }

.dotted            (@color: #999)           { border: 1px dotted @color; }
.text-shadow       (@color: @white, @string: 0 1px 1px @shadow_color) {text-shadow: @string; color: @color; }
.border_inset      (@color: @white)         { box-shadow: 1px 1px 0px @color inset, -1px -1px 0px @color inset; }

.gradient          (@color_from, @color_to) {
                   background-color: @color_from;
                   background-image: linear-gradient(bottom, @color_from, @color_to);
                   background-image: -o-linear-gradient(bottom, @color_from, @color_to);
                   background-image: -moz-linear-gradient(bottom, @color_from, @color_to);
                   background-image: -webkit-linear-gradient(bottom, @color_from, @color_to);
                   background-image: -ms-linear-gradient(bottom, @color_from, @color_to);
}

.icon              (@y: 0px, @x: 0px)       { background-image: url(../images/icons.png); background-repeat: no-repeat; background-position: @x @y; }

.input                                      { .round_box(#ccc, 3px); padding: 5px 7px; font-size: 1.1em; line-height: 1.1em; color: @color_grey; box-shadow: none; background: @white; 
    &:focus                                 { .focus; outline: none; color: #000; }
}

/*Links*/
.link                                       { color: @color_link; text-decoration: underline; cursor: pointer;
    &:hover                                 { text-decoration: none; }
}
.link_n                                     { .link; text-decoration: none; 
    &:hover                                 { text-decoration: underline; }
}
.link_dashed                                { .link_n; border-bottom: 1px dashed @color_link; 
    &:hover                                 { text-decoration: none; border-bottom-color: transparent; }
}

/*Price*/
.price_old         (@font-size: 0.9em)      { display: block; margin-bottom: 5px; color: @color; text-decoration: line-through; line-height: 1em;
    small                                   { font-size: 0.8em; }
}
.price_red         (@font-size: 1.2em)      { display: block; font-size: @font-size; color: @color_red; line-height: 1em;
    small                                   { font-size: 0.7em; }
}

/*Buttons*/
.button                                     { .gradient (#058EB4, #0EC1E8); border: none; .text-shadow (#fff, -1px 1px 1px #888); padding: 8px 25px; text-align: center; text-decoration: none; cursor:pointer; font-size: 1.2em; border-radius: 2px;
    &:hover                                 { .gradient (#058EB4 ,#0DB4D9); }
    &:focus                                 { box-shadow: 0px 0px 5px rgba(0,0,0,0.2) inset; background-image: none; }
}
