    /*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper       {position:absolute; top:0; left:0; z-index:9999; overflow:hidden; outline: none;}
#cboxOverlay                                {position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft            {clear:left;}
#cboxContent                                {position:relative;}
#cboxLoadedContent                          {overflow:auto;}
#cboxTitle                                  {margin:10px 0 0 25px;}
#cboxLoadingOverlay, #cboxLoadingGraphic    {position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow    {cursor:pointer; border-style: none; }
#cboxPrevious:focus, #cboxNext:focus, #cboxClose:focus, #cboxSlideshow:focus    {cursor:pointer; border-style: none; }
.cboxPhoto                                  {float:left; margin:20px 30px 0; border:0; display:block; max-width:none;}
.cboxIframe                                 {width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent {box-sizing:content-box;}
#cboxLoadedContent iframe                   {display:block; width:100%; height:100%; border:0;}
/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay                                {background: rgba(0,0,0,0.4);}

#cboxContent                                {overflow:hidden; margin: 10px; outline: none; border-radius: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.3); background: #fff; }
.cboxIframe                                 {background:#fff;}
#cboxError                                  {padding:50px; border:1px solid #ccc;}
#cboxLoadedContent                          {padding: 20px; background: #fff;}
#cboxTitle                                  {position:absolute; top:20px; left:0; font-size: 1.7em; text-align:center; width:100%; color:#444;}
#cboxCurrent                                {display: none;}
#cboxSlideshow                              {position:absolute; bottom:4px; right:30px; color:#0092ef;}
#cboxPrevious                               {position:absolute; top: 10%; left:20px; padding: 0; width:40px; height:80%; text-indent:-9999px; opacity: 0.7; background:url(../images/colorbox/nav.png) no-repeat 10px 50%;}
#cboxPrevious:hover                         {opacity: 1; }
#cboxNext                                   {position:absolute; top: 10%; right:20px; padding: 0; width:40px; height:80%; text-indent:-9999px; opacity: 0.7; background:url(../images/colorbox/nav.png) no-repeat -40px 50%; }
#cboxNext:hover                             {opacity: 1;}
#cboxLoadingOverlay                         {background:url(../images/colorbox/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic                         {background:url(../images/colorbox/loading.gif) no-repeat center center;}
#cboxClose                                  {position:absolute; z-index: 10000; top:10px; right:10px; width:30px; height:30px; display:block; border: none; color:#444; font-size:0px; line-height: 0px; background:url(../images/colorbox/close.png) 50% -40px no-repeat;}
#cboxClose:hover                            {background-position: 50% 10px;}
