@import "base.less";
/*************************** General *************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, 
mark, audio, video                              {  margin: 0; padding: 0; border: 0; font-size: 1em; font-family: Arial, "Trebuchet MS",  Helvetica, sans-serif; vertical-align: baseline; }
header, footer, aside, 
nav, article, section                           { display: block; }
html, body                                      { height: 100%; }
body                                            { height: 100%; font-size: 13px; line-height: 1.1em; min-width: 993px; color: #000; background: @white; }
img                                             { border: none; }
ul, li                                          { list-style: none; display: block; }
p                                               { margin: 0.4em 0px; text-align: left; }
table                                           { border-collapse: collapse; border-spacing: 0px; }
h1, h2, h3, h4, h5, h6, .h2                     { margin: 1em 0 0.8em 0; line-height: 1.2em; font-weight: normal; }
h1                                              { margin: 0px 0px 20px; font-size: 1.8em; font-weight: normal; color: #444; }
h2                                              { font-size: 1.7em; color: #555; }
h3                                              { font-size: 1.4em; }
a                                               { .link; 
    &:focus                                     { outline: none; }
}

input[type="button"], button, input[type="submit"]  { padding: 0px; border-style: none; 
    &::-moz-focus-inner                             { margin: 0px; padding: 0px; border-style: none; }
    &:focus                                         { outline: none; }
}
/* Tell the browser to render HTML 5 elements as block */
header, section, footer, aside, nav, article, figure { display: block; }

/************************** Base classes ************************************/
.errors                                     { display: block; padding: 5px 0; color: #f00;  }
.success                                    { padding: 25px 0; font-size: 1.3em; line-height: 1.25em; }
.clear                                      { clear: both; }
.h2                                         { margin: 1em 0 0.8em 0; color: @color_name; line-height: 1.2em; font-size: 1.6em; font-weight: normal; }

input[type="text"], input[type="password"], input[type="email"], input[type="phone"], textarea, select { .input; margin: 0px; }
/*Price*/
.price                                      { .price_red; }
.old_price                                  { .price_old; }

/*Buttons*/
.button_buy                                 { .button; .gradient(#44AA2E, #73D554); border-width: 1px; border-style: solid; border-color: #55B124 #55B124 #098C03 #3E9F39; box-shadow: 1px -1px 0 #55B124; text-shadow: 1px 1px 1px #42AD19; 
    &:hover                                 { .gradient(#5BAB42, #63B33A); }
}
.button_show                                { .button; .gradient(#3A87B7, #78B7F2); padding-left: 15px; padding-right: 15px; text-shadow: -1px 1px 1px #4B88BA; border-color: #3893D3 #3893D3 #3A87B7 #4695DE; box-shadow: 1px -1px 0 #3893D3;
    &:hover                                 { .gradient (#4790BE, #609AD0); }
}

/****************************** Often repeat boxes ************************/

/*form*/
form                                        {
    .form_row                               { margin-bottom: 15px;
        label                               { display: block; width: auto; margin-bottom: 4px; color: @color_grey; font-weight: bold; 
           &.required span                  { color: @color_red; font-weight: bold; padding-left: 6px; }
        }
        .help                               { padding-left: 10px; font-size: 0.9em; color: #aaa; font-style: italic; }
        input[type="text"], input[type="password"],
        input[type="email"], input[type="phone"],
        textarea, select                    { padding-left: 3%; padding-right: 3%; width: 93%; }
        textarea                            { min-width: 93%; max-width: 93%; min-height: 100px; max-height: 100px; }
    }
    .action                                 { text-align: right; }
    input[type="button"], button, input[type="submit"] { .button_buy; }
}


/*breadcrumb*/
.breadcrumbs                               { margin-bottom: 20px; 
    a                                       { .link_n; }
    .separator                              { display: inline-block; margin-right: 4px; width: 10px; height: 1.1em; vertical-align: bottom; background: url(../images/breadcrumb.png) no-repeat 100% -30px; }
}
/*pagination*/
.pagination                                 { float: right; margin-bottom: 15px; clear: right; font-size: 1.1em;
    span.current                            { margin-left: 5px; }
    a                                       { margin-left: 5px;
    &.next, &.previous                      { display: inline-block; width: 10px; height: 1.1em; vertical-align: middle; background: url(../images/arrow_icons.png) no-repeat 100% -118px; 
        &:hover                             { opacity: 0.8; }
    }
    &.previous                              { background-position: 0px -138px; }
    }
 }

/*scrollbar*/
.scroll                                     {
    .scrollbar                              { float: right; position: relative; width: 8px;
        .track                              { position: relative; height: 100%; width: 7px; background: #ccc;
            .thumb                          { .absolute_l; overflow: hidden; width: 7px; height: 48px; cursor: pointer; background: url("../images/thumb.png") no-repeat 0 0; }
        }
    }
    .viewport                               { position: relative; overflow: hidden; height: 160px;
        .overview                           { .absolute_l; }
    }
}
/*end scrollbar*/

/*contacts*/
.contacts                                   {
    .phone, .skype, .email, .isq            { padding: 2px 0px 10px 25px; font-size: 1.3em; white-space: nowrap; } 
    .phone                                  { .icon(-103px); 
        &.cdma                              { background-position: 0 -103px; }
        &.mts                               { background-position: 0 4px; }
        &.life                              { background-position: 0 -33px; }
        &.kyivstar                          { background-position: 0 -67px; }
    }
    .skype                                  { .icon(-131px); }
    .email                                  { .icon(-167px); }
    .isq                                    { .icon(-197px); }
}
/*end contacts*/

/*stock*/
.stock                                      { .icon(-850px); display: inline-block; padding-left: 25px; padding-top: 6px; color: #44AA2E;
    &.out_stock                             { padding-top: 2px; color: @color; background-position: 0px -900px; }
}
/*end stock*/

.seo_text                                   { color: @color; }

/*switch language*/
.switcher_links                             { .absolute_r(7px, 250px);
    a                                       { display: inline-block; opacity: 0.6; overflow: hidden; width: 27px; height: 18px; vertical-align: middle; text-indent: -9999px; background: url(../images/languages.png);
        &.en                                { background-position: 0 0; }
        &.ru                                { background-position: -40px 0px; }
        &:hover, &.locale_current           { opacity: 1; }
    }
}
/*end switch language*/

/*tabs*/
.tabs                                       { margin-bottom: 30px; 
    .tab_links                              { 
        a                                   { .border_inset; display: inline-block; padding: 10px 20px; margin-right: 5px; font-size: 1.1em; vertical-align: top; color: @color_grey; text-decoration: none; border: 1px solid @border_grey; border-bottom: none; border-radius: 3px 3px 0px 0px; background: #f6f6f6;
            &:hover                         { box-shadow: none; border-color: lighten(@color_link, 30%); background: lighten(@color_link, 30%); }
            &.selected                      { color: @white; font-weight: bold; box-shadow: none; border-color: lighten(@color_link, 10%); background: lighten(@color_link, 10%); }
        }
    }
    .tab_box                                { padding: 20px 10px; border-top: 1px solid lighten(@color_link, 10%); }  
}
/*end tabs*/

/*carousel*/
.bx-wrapper                                 { position: relative;
    .bx-controls                            {
        .bx-controls-direction              { 
            a                               { .absolute_l(50%); .border_inset; display: inline-block; overflow: hidden; padding: 10px; margin-top: -18px; width: 16px; height: 14px; text-indent: -9999px; opacity: 0.85; border: 1px solid @border_grey; background: lighten(@border_grey, 5%) url(../images/arrows_blue.png) no-repeat; 
                &:hover                     { opacity: 1; border-color: darken(@border_grey, 5%); }
                &.disabled                  { display: none; }
            }
            .bx-prev                        { background-position: 8px 50%; }
            .bx-next                        { left: auto; right: 0px; background-position: -42px 50%; }
        }
        .bx-pager                           { .absolute_l(auto); bottom: 5px; width: 100%; text-align: center;
            .bx-pager-item                  { display: inline-block; margin-right: 5px;
                a                           { overflow: hidden; display: inline-block; width: 16px; height: 16px; text-indent: -9999px; border-radius: 10px; background: lighten(desaturate(#00A3D9,60%),15%); 
                    &.active                { background: #00A3D9; }
                }
            }
        }
    }
}
.slideshow                                  { overflow: hidden; position: relative;
    .slide                                  { height: 350px; }
    .slide_link                             { .absolute_l(50%); .border_inset; z-index: 2; display: inline-block; overflow: hidden; padding: 10px; margin-top: -18px; width: 16px; height: 14px; text-indent: -9999px; opacity: 0.85; border: 1px solid @border_grey; background: lighten(@border_grey, 5%) url(../images/arrows_blue.png) no-repeat; 
        &:hover                             { opacity: 1; border-color: darken(@border_grey, 5%); }
        &.disabled                          { display: none; }
        &.prev                              { background-position: 8px 50%; }
        &.next                              { left: auto; right: 0px; background-position: -42px 50%; }
    }
    .pager                                  { .absolute_l(auto); z-index: 2; bottom: 5px; width: 100%; text-align: center;
        .pager_item                         { overflow: hidden; display: inline-block; width: 16px; height: 16px;  margin-right: 5px; text-indent: -9999px; border-radius: 10px; background: lighten(desaturate(#00A3D9,60%),15%);
            &.active                        { background: #00A3D9; }
        }
    }
} 

.carousel_block                             { position: relative;
    ul                                      { overflow: hidden; 
        .item                               { float: left; padding: 0 12px; height: 275px; width: 136px; text-align: center; 
            .info                           { color: @color_name; 
                .name                       { display: block; overflow: hidden; height: 28px; margin: 10px 0px; }
            }
            .stock                          { margin-bottom: 10px; }
            .price_box                      { margin-bottom: 15px; 
                .price                      { font-size: 1.3em; }
             }
            .button_buy                     { padding: 7px 20px; font-size: 1.1em; }
        }
    }
}
/*end carousel*/

//results of search - dropdown (overriding /vendor/components/jqueryui/themes/black-tie/jquery-ui.css)
.ui-widget                                      { font-size: 1em !important; 
    img                                         { float: left; margin: 7px 7px 7px 0; }
    &.ui-widget-content                         { position: absolute; z-index: 9999; top: 54px !important; left: 0; width: 408px !important; margin-top: 89px; text-align: left; border: none !important; border-radius: 0 0 4px 4px; box-shadow: 0 2px 0 rgba(0, 0, 0, 0.23); background: linear-gradient(#fff, #f1f1f1, #f4f4f4, #fbfbfb) !important;
        .ui-menu-item                           { padding: 5px 1em 5px 0.4em !important; 
            a                                   { display: inline-block; max-width: 210px; color: #333; }                                          
            &.ui-state-focus                    { border: 1px solid @color_link !important; font-weight: normal !important; color: #fff !important; background: @color_link !important;  
                a                               { color: #fff !important; font-weight: 200; }
                &:last-child                    { border-bottom-left-radius: 4px !important; border-bottom-right-radius: 4px !important; }
            }
        }
    }
}

/***************************** Layout *************************************/
.wrapper                                    { min-height: 100%; height: auto !important; height: 100%; margin-bottom: -@footer_height; }
.header                                     { background: url(../images/header.png) repeat-x; }
.main                                       { overflow: hidden; padding-top: 25px; clear: both; padding-bottom: @footer_height+50px;}
.main_conteiner                             { .centre; overflow: hidden; }
.column_right                               { float: right; margin-left: 3%; width: @left-col-width; }
.column_left                                { float: left; margin-right: 3%; width: @right-col-width; }
.content                                    { position: relative; overflow: hidden; }
.footer                                     { height: -1px+@footer_height; }

/*****************************Footer**************************************/

.footer                                     { background: #eee; border-top: 1px solid #ddd;
    .footer_conteiner                       { .centre; overflow: hidden; position: relative; padding: 15px 0px 30px;
        .information_menu                   { .absolute_l(15px); margin: 0px 280px 0px 200px; width: 480px; text-align: center; font-size: 1.1em;
            a                               { margin-right: 15px; }
        }
        .work_time                          { .absolute_r(15px); .icon(-700px); padding-left: 60px; width: 160px; }
        .contacts                           { float: left; margin-right: 50px; margin-bottom: -15px;
            .phone, .skype, .email, .isq    { padding-top: 3px; padding-bottom: 8px; font-size: 1.15em; }
        }
        .nitra_info                         { .absolute_r(auto); bottom: 15px; min-width: 250px; color: #666;
            span                            { display: block; margin-bottom: 5px;}
        }
        .work_time                          { font-weight: bold; 
            span                            { display: block; margin-top: 7px; font-weight: normal; }
        } 
        .copyright                          { .absolute_l(auto,200px); bottom: 20px; width: 480px; text-align: center; color: lighten(@color,20%); }
    }
}

/*****************************Header**************************************/

.header_conteiner                           { .centre;  position: relative; z-index: 1000; padding-bottom: 25px; 
    .cart_box                               { .absolute_r(auto); bottom: 25px; .icon(-398px, 8px); .border_inset; z-index: 900; padding: 6px 10px 6px 52px; max-width: 150px; border: 1px solid #eee; background-color:#f6f6f6;
        .cart_info                          { color: @color_grey; cursor: pointer; text-decoration: none;
            span                            { display: block; margin-top: 2px; color: @color_link; }
        }
        .cart_empty                         { display: block; padding: 5px 0px; }
        .cart_drop                          { .drop_box(0px); display: none; width: 100%;
            .cart_product_item              { border-top: 1px dotted darken(@border_grey, 15%);
                &:first-child               { border-top: none; }
                .item                       { overflow: hidden; display: block; padding: 10px; text-decoration: none; 
                    img                     { float: left; margin-right: 5px; border: 1px solid @border_grey; }
                    .info                   { margin-left: 55px; }
                    .name                   { display: block; margin-bottom: 10px; text-decoration: underline; }
                    &:hover                 { background: #F2F2F5;
                        .name               { text-decoration: none; }
                    }
                }
            }
        }
        &:hover                             {
            .cart_drop                      { display: block; }
        }
    }
    .information_menu                       { margin-bottom: 25px; padding: 10px 0px;
        a                                   { .link_n; margin-right: 10px; padding-left: 10px; color: @white; border-left: 1px solid @white;
        &.first                             { padding-left: 0px; border-left: none; }
        }
    }
    .logo                                   { display: inline-block; width: 250px; vertical-align: top; text-decoration: none; background: url(../images/logo.png) no-repeat; 
         span                               { display: block; padding-top: 53px; color: #777; font-style: italic; }
     }
    .contacts                               { .absolute_l(50px, 308px); padding-right: 20px; background: url(../images/arrow_icons.png) no-repeat 100% 9px;
        .visible .phone                     { padding: 0px; font-size: 1.8em; line-height: 1em; cursor: pointer; background: none; }
        .drop                               { display: none; .drop_box(10px 7%); z-index: 1003; min-width: 86%; }
        &:hover .drop                       { display: block; }
     }
    .callback                               { .absolute_r(50px, 250px); .icon(-230px); padding: 6px 0 6px 35px; color: @color_grey; 
       &:hover                              { color: @color_link; background-position: 0 -260px; }
    }
    .feedback                               { .absolute_r(50px); .icon(-297px); padding: 6px 0px 6px 27px; color: @color_grey; 
        &:hover                             { color: @color_link; background-position: 0 -327px; }
    }
    .work_time                              { .absolute_r; .icon(-358px); padding-left: 40px; color: @white; line-height: 1em;
        span                                { display: block; padding-top: 3px; }
    }
            
    .search                                 { position: relative; display: inline-block; width: 400px; margin: 35px 0 0 55px; 
        .form_row input                     { float: left; height: auto; padding: 7px; vertical-align: top; border: 1px solid @border_grey; border-radius: 0; box-shadow: 0px 0px 3px rgba(0,0,0,0.15) inset; color: @color_text; font-size: 1.15em; outline: none; background: #fff url("../images/icons_sprite.png") no-repeat 99% 6px; }
        .search_button                      { float: right; width: 30px; height: 32px; margin-right: 4px; border-left: 1px solid #ccc; text-indent: -9999px; background: url(../images/icons_sprite.png) no-repeat 8px 6px;  
           &:hover                          { background-position: 8px -19px; }
         }
        #suggest                            { display: none; 
           .suggest_content                 { .drop_box(0px); overflow: hidden; z-index: 1002; width: 100%;
              .search_item                  { overflow: hidden; display: block; padding: 14px 10px; border-bottom: 1px dotted darken(@border_grey, 15%); 
                .item_name                  { float: left; padding: 0 8px; 
                    .name                   { display: block; margin-bottom: 5px; }
                    .category_name          { display: block; color: @color; }
                }
                img                         { float: left; border: 1px solid @border_grey; margin-right: 8px; }
                .price_box                  { float: right; margin-right: 16px; }
                &:hover                     { background: #F2F2F5;}
            }
            .more                           { display: block; line-height: 1.6em; color: @white; font-weight: bold; text-decoration: none; text-align: center; background: lighten(@color_link, 10%); 
                &:hover                     { background-color: lighten(@color_link, 15%); }
            }
           }
        }
    }
}

/*nav*/
.nav                                        { .centre; .border_inset; clear: both; border: 1px solid @border_grey; border-radius: 2px; background: #f6f6f6;
    ul .category                            { position: relative; display: inline-block; margin-right: -4px; vertical-align: top;
            a.level0                        { display: block; padding: 11px 0px; text-decoration: none; font-size: 1.4em;  color: @color_grey;
                span                        { display: block; padding: 5px 16px 6px; border-left: 1px solid #fff; border-right: 1px solid @border_grey; }
            }
            .drop                           { display: none; .drop_box(15px 0px 0px); z-index: 1000; overflow: hidden; 
                .col                        { float: left; padding: 0px 17px; width: 200px; 
                    li                      { padding-bottom: 20px;
                        a.level1            { font-size: 1.2em; }
                    }
                    ul                      { padding: 10px 0px 0px 20px; 
                        li                  { padding: 2px 0px; 
                            a               { .link_n; color: @color_grey; 
                                &:hover     { color: @color_link; }
                            }
                        }
                    }
                    
                }
            }
            &:hover, &.active               {
                a.level0                    { position: relative; z-index: 997; color: @white; background-color: lighten(@color_link, 20%); text-shadow: -1px 1px 1px #50A3E7; box-shadow:0 -1px 0 lighten(@color_link, 20%), 0px 1px 0 lighten(@color_link, 20%);
                    span                    { margin-left: -1px; padding-left: 17px; border-left-color: @border_grey; border-right-color: transparent; }
                }
                &:first-child a.level0      { border-radius: 2px 0px 0px 2px;  box-shadow:0 -1px 0 lighten(@color_link, 20%), 0px 1px 0 lighten(@color_link, 20%), -1px 0px 0 lighten(@color_link, 20%); }
            }
            &:hover .drop                   { display:block; }
            &:first-child a.level0          { margin-left: 0px; padding-left: 0px;
                span                        { border-left-color: transparent; }
            }
    }
}

/**************************************Filter*************************************/
.filter_box                                 { .border_inset; position: relative; padding: 10px; border: 1px solid @border_grey; background: #f6f6f6;
    .title                                  { margin-bottom: 20px; font-size: 1.3em; color: @color_grey; }
     .param_name                            { overflow: hidden; margin-bottom: 10px; color: @color_grey; font-weight: bold; font-size: 1.1em; }
     .filter_price                          { padding-bottom: 20px; 
        .filter_slider                      { overflow: hidden; padding-bottom: 2px;
            .slider                         { height: 50px; }
            .filter_button                  { .icon(-578px,100%); float: right; padding-right: 15px; font-size: 1.1em; }
        }
     }
     .filter_list                           { 
         li                                 { padding: 5px 0; 
            a                               { padding-left: 20px; text-decoration: none; background: url(../images/check.png) no-repeat;
                &:hover,&.active            { background-position: 0 -70px; }
                &.active                    { font-weight: bold; }
                .quantity                   { color: @color; }
             }
         }
         .parameter                         { margin-bottom: 15px;
            .param_name                     { .icon(-460px); padding-left: 20px; cursor: pointer; 
                &:hover                     { color: lighten(@color_grey, 10%); }
            }
             &.show                         { margin-bottom: 25px;
                .param_name                 { background-position: 0px -530px }
                &.active                    { display: block; }   
             }
          }
     }
     .button_filter                         { display: block; margin-top: 25px; }
     .filter_apply                          { position: absolute; left: 90%; z-index: 9999; padding: 10px; margin-top: -12px; height: 16px; font-size: 1.1em; border-radius: 0px 2px 2px 0px; background: #00ACED; display:none; min-width: 220px;
        &:before                            { .absolute_r(0,100%); content: ""; border-width: 18px; border-style: solid; border-color: transparent #00ACED transparent transparent;  }
        a                                   { color: @white; }
    }
    .selected_params                        { padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid darken(@border_grey,15%);
        .parameter                          {
            li a                            { .icon(-614px); .link_n; }
            .param_name                     { padding-left: 0; background: none;
                &:hover                     { color: @color_grey; }
            }
        }
    }
}
/************************************** Content Home *************************************/
.home_page                                  {
    .slideshow                              { margin-bottom: 30px; }
    .category_home_list                     { margin-bottom: 30px;
        .item                               { display: inline-block; width: 30%; margin-left: 4.4%; padding: 10px 0 20px; vertical-align: top;
            &.first                         { margin-left: 0px; }
            .category                       { display: block; margin: 0px 0px 20px; font-size: 1.5em; }
            ul                              { padding-left: 20px;
                li                          { margin: 5px 0;
                    a                       { color: @color_grey; }
                }
            }
         }
     }
    .banners                                { padding-top: 30px; border-top: 1px solid @border_grey;
        .box_baner                          { display: inline-block; width: 200px; margin-left: 37px; }
            &:first-child                   { margin-left: 0px; }
    }
    .info_categories_block                  { overflow: hidden; padding-top: 25px; border-top: 1px solid @border_grey;
        .category_item                      { float: left; margin-left: 2%; width: 32%;
            &.first                         { margin-left: 0; }
            .category_title                 { .link_n; display: block; padding-bottom: 10px; font-size: 1.6em; color: @color_name; }
            .item                           { overflow: hidden;  margin-top: 15px; padding-top: 15px; 
                &.first                     { padding-top: 0px; border-top: none; }
                .image                      { float: left; margin-right: 10px; }
                .title                      { display: inline-block; font-size: 1.1em; line-height: 1.1em; height: 2.2em; overflow: hidden; }
                .short_desc                 { margin-top: 7px; height: 4.4em; overflow: hidden; }
            }
        }
    }
    .home_modules .tab_box                  { padding-left: 0px; padding-right: 0px; }
}    

/****************************** Product And Category list **********************************/
/*category list*/
.category_page                              { 
    .category_list                          { 
        .category_item                      { .link_n; margin: 0px 0px 25px 2.5%; padding: 10px 2% 15px; width: 27%; display: inline-block; vertical-align: top; text-align: center; font-size: 1.2em; line-height: 1.2em; border: 1px solid @border_grey;
            &.first                         { margin-left: 0px; }
            &:hover                         { border-color: darken(@border_grey,10%); }
            span                            { display: block; height: 2.4em; overflow: hidden; margin-bottom: 5px; }
            img                             { max-width: 100%; }
        }
    }
}
/*end category list*/

/*product_panel*/
.product_panel                              { clear: both; padding: 10px 0px; border-top: 1px solid @border_grey; border-bottom: 1px solid @border_grey;
    .item                                   { display: inline-block; margin-right: 60px; vertical-align: middle;
        a                                   { margin-left: 10px; 
            &.active                        { font-weight: bold; text-decoration: none; }
        }
    }
    .view                                   { 
        .list_view, .table_view             { display: inline-block; font-size: 0px; vertical-align: middle; width: 24px; height: 24px; background: url(../images/list_type.png) 0 0 no-repeat;
            &.active,&:hover                { background-position: -28px 0;}
        }
        .table_view                         { background-position: 0 100%;
           &.active,&:hover                 { background-position: -28px 100%;} 
        }
        
    }
    .limit                                  { margin-right: 0; }
}
/*end product_panel*/

/*product_list table*/
.product_list                               { overflow: hidden; padding: 20px 0;
    .product_item                           { position: relative; margin: 0px 2.5% 25px 0px; padding: 10px 2%; width: 27%; display: inline-block; vertical-align: top; border: 1px solid @border_grey;
        &.last                              { margin-right: 0; }
        .product_name                       { overflow: hidden; display: block; height: 2.8em; margin-bottom: 30px; color: @color_name; line-height: 1.4em; font-size: 1.1em; font-weight:bold; }
        .product_image                      { display: block; margin-bottom: 35px; 
            img                             { max-width: 100%; }
        }
        .article                            { .absolute_l(55px, 6.5%); font-size: 0.9em; }
        .stock                              { .absolute_r(auto, 6.5%); bottom: 60px; }
        .short_desc                         { display: none; }
        .button_buy, .button_show, .button_compare { float: right; }
        .button_buy                         { margin-top: 3px; }
        .price_box                          { height: 40px;  
             .old_price                     { .price_old(1em); }
             .price                         { .price_red(1.6em); }
         }    
   }
}
/*end product_list table*/

/*product_list line*/
.product_list_line                          { overflow: inherit; 
    .product_item                           { overflow: hidden; display: block; width: auto; padding-left: 230px; padding-right: 10px; margin-right: 0px; min-height: 202px;
        .product_name                       { overflow: inherit; height: auto; margin-bottom: 20px; margin-right: 100px; }
        .article                            { top: 15px; left: auto; right: 10px; }
        .product_image                      { .absolute_l(10px, 10px); margin-bottom: 0px; }
        .short_desc                         { display: block; margin-right: 190px; 
            .parameter_item                 { margin-bottom: 5px;
                .name                       { font-weight: bold; }
            }
        }
        .stock                              { right: 10px; top: 45px; bottom: auto; }
        .price_box                          { .absolute_r (75px, 10px); }
        .button_buy, .button_show           { .absolute_r (115px, 10px); } 
        .button_compare                     { .absolute_r (150px, 10px); } 
        .model_products                     { clear: both; } 
  }
}
/*end product_list line*/

/******************************* Product page *********************************/
.product_page                               { overflow: hidden; margin-bottom: 20px; 
    /*image block*/
    .image_block                            { float: left; width: 352px; margin-bottom: 30px; margin-right: 30px;
        .thumbs                             { padding-top: 15px;
            ul                              { overflow: hidden; 
                .item                       { .round_box(@border_grey, 2px); float: left; padding: 0; margin-right: 23px; width: 100px; height: 92px; text-align: center; }
            }
        }
    }
    /*end image block*/
    .info_block                             { float: right; clear: right; padding: 10px; margin-left: 30px; width: 200px; border: 1px solid @border_grey;
        &.delivery                          { border-bottom: none; }
        .info_title                         { margin: -10px -10px 0px; padding: 7px 10px; font-size: 1.2em; text-shadow: 1px 1px 1px #fff; background: lighten(@border_grey,5%); }
    }
    /*product info*/
    .article                                { padding: 10px 0; margin-bottom: 20px; font-style: italic;}  
    .stock                                  { display: block; overflow: hidden; margin-bottom: 20px; font-size: 1.1em; }
    .price_box                              { vertical-align: top; margin-right: 15px; margin-bottom: 15px;
        .old_price                          { font-size: 1.1em;}
        .price                              { .price_red (2.2em); margin-bottom: 5px; }
    }
    .button_buy                             { overflow: hidden; display: block; width: 80px; margin-bottom: 15px; padding: 15px 25px; font-size: 1.7em; }
    .button_compare                         { margin-bottom: 20px;}
    .involved                               { .round_box(@color_red); overflow: hidden; padding: 10px; margin-bottom: 20px; }
    /*end product info*/
    .description                            { overflow: hidden;
        .title                              { display: none; }
        table                               { width: 100%;
            td                              { padding: 5px 3px; width: 49%; }
            .odd td                         { background: #F2F2F2; }
        }
    }
    .tabs                                   { clear: both; margin-bottom: 40px;
        .tab_box                            { border: 1px solid lighten(@color_link, 10%); }
    }
    .product_video                          {
        .item                               { margin-bottom: 10px; 
            iframe                          { max-width: 100%; }
        }
    }
    /*carousels*/
    .carousel_products                      { clear: both; overflow: hidden; margin-bottom: 40px;
        .title                              { padding-bottom: 15px; margin-bottom: 20px; font-size: 1.6em; color: @color_grey; line-height: 1.1em; border-bottom: 1px solid #aaa; }
        ul                                  {
            .item                           { height: 240px;
                .info                       { color: @color_name; 
                   .name                    { display: block; overflow: hidden; height: 28px; margin: 10px 0px; }
                }
                .price_box                  { float: none; width:100%; margin-bottom: 15px; 
                    .price                  { font-size: 1.3em; }
                    .old_price              { font-size: 1em; }
                 }
            }
        }
        &.model_products ul .item           { height: 180px; }
    }
    /*end carousels*/
}

/********sendform*************/
.send                                       { width: 400px;
    .review_text                            { margin-bottom: 20px; color: @color_grey; font-style: italic; }
}

/**************cart*****************/
.cart                                       { overflow: hidden;
    h4                                      { display: block; font-size: 1.25em; font-weight: bold; line-height: 1.4em; }
      .cart_products                        { float:left; width: 65%; padding-right: 5%; 
        .cart_product_list                  { margin-bottom: 20px; max-height: 275px; overflow: auto; position: relative; }
        .product_item                       { padding: 10px 0; border-bottom: 1px solid @border_grey;
            a                               { .link_n; }
            .images                         { display: inline-block; margin-right: 25px; 
                img                         { vertical-align: middle;}
            }
            .name                           { display: inline-block; margin-right: 30px; width: 40%; vertical-align: middle; color: @color_name; }
            .quantity                       { position: relative; display: inline-block; padding: 15px 0px; margin-right: 20px; text-align: center; width: 20px; 
                span                        { font-size: 1.2em; font-weight: bold; }
                .quantity_button            { overflow: hidden; position: absolute; left: 18%; display: block; width: 16px; height: 16px; text-indent: -9999px; background: url(../images/icons_sprite.png) no-repeat;
                    &.minus                 { top: 32px; background-position: -3px -92px;}
                    &.plus                  { top: 0px; background-position: -3px -74px;}
                }
            }
            .price_box                      { display: inline-block; width: 120px;  
                .price                      { font-size: 1.5em;
                    span                    { font-family: arial; font-size: 0.8em; }
                }
            }
            .remove                         { display: inline-block; margin-left: 25px; width: 15px; height: 13px; vertical-align: middle; background: url(../images/icons_sprite.png) no-repeat 0px -53px; vartical-align: middle; }
        }
        .summ                               { float: right; margin-right: 20px; padding-bottom: 20px;
            h4                              { margin-bottom: 0px; }
            div                             { padding: 4px 0; font-size: 1.25em; }
        }
      }
    .form                                   { float: right; width: 30%; margin-top: 12px;
        form .select2-container             { width: 100%; }
         .notice                            { margin: 10px 0;}
    }
    .warning                                { position: absolute; bottom: 30px; left: 20px; color: @color_red; font-size: 1em; font-weight: bold; }
    .submit_button                          { .button_buy; padding: 13px 25px; float: right; margin-right: 5%; font-size: 1.3em; }
    a.cancel                                { font-size: 1.1em; }
    .loader                                 { .absolute_l; display: none; width: 100%; height: 100%; line-height: 100%; text-align: center; background: rgba(255,255,255,0.5);
        img                                 { .absolute_l(50%,50%); margin-top: -16px; margin-left: -16px; }
    }
}

.cart_success                               { .success; text-align: center; }

/*cart in colorbox*/
#cboxLoadedContent                          {
    .cart                                   { width: 830px;
        .cart_products                      {
            .name                           { width: 180px; }
            .quantity                       { margin-right: 5px; }
        }
    }
}
/*end cart in colorbox*/
/******************************* Info pages *******************************/
.information_category_page                  {
    .item                                   { overflow: hidden; padding-top: 15px; margin-top: 15px; border-top: 1px dotted @border_grey;
        &:first-child                       { margin-top: 0px; padding-top: 0px; border-style: none; }
        .image                              { float: left; margin-right: 20px; border: 1px solid @border_grey; }
        .title                              { .link_n; display: block; overflow: hidden; margin: 0px 0px 10px; color: @color_name;
            h3                              { margin: 0; font-size: 1.4em; }
        }
        .short_desc                         { overflow: hidden; margin-bottom: 10px; }
    }
}

.information_page                           { overflow: hidden; line-height: 1.2em;
    figure, .map                            { float: left; margin-right: 30px; margin-bottom: 30px; }
    .item                                   {
        &.kharkov                           { overflow: hidden; }
        &.kiev                              { clear: left; }
    }
    h2                                      { .h2; }
    h3                                      { .h2; font-size: 1.4em; }
    h4                                      { font-size: 1.2em; }
}

/******************************** Error page *******************************/
.error_page .header                         { padding: 30px 0px 40px; text-align: center; background: none; }
.error_page_content                         { margin: 0 auto; width: 700px; text-align: center;
    &.error500                              { padding-top: 220px; background: url(../images/error500_icon.png) no-repeat 50% 0px;}
    .error_status                           { color: #d0d0d0; font-size: 17em; line-height: 1em; font-stretch: ultra-condensed; }
    .text                                   { margin: 30px 0px; font-size: 1.2em; line-height: 1.6em; }
    p                                       { text-align: center; }
}

.error_page_content, .no_products          {
    h1,h2                                  { margin-bottom: 10px; color:#445566; font-weight:normal; font-size: 1.6em; line-height: 2em; text-align: center; border-bottom: 1px dotted #bbb; }
 }

/******************************** Compare page (not in base)*******************************/
.defaul,.button_compare                    { display: inline-block; padding: 5px 1px 5px 1px; text-decoration: none; vertical-align: middle;
    i                                      { display: inline-block; margin-right: 4px; width: 15px; height: 13px; vertical-align: middle; background: url(../images/compare_sprite.png) no-repeat 0px -1px; 
        &.add                              { background-position: 0px -34px; }
        &.delete                           { background-position: 0px -16px; }
    }
    span                                   { border-bottom: 1px dashed @color_link; }
    &:hover span                           { border-color: transparent; }
}
.compare_button                            { display: block; }
.compare_items_button                      { .absolute_r(0px,0); 
    span                                   { color: @white; background: #565656;}
}

.compare_conteiner                         { 
    .compare_items                         { 
        table                              { 
            .item                          { border: 1px solid #eee;
                span                       { display: block; text-align: center;}
                .name                      { position: relative; padding: 4px 6px; margin-bottom: 8px; background: #b5b5b5; font-weight: bold; color: @white;  }
                .block_price               { 
                    .price_box             { 
                        span               { text-align: left; }
                    }
                }
            }
        }
    }
    .compare_params                        { 
         h3                                { background: #009993; color: @white;  }
        table                              { border-collapse: separate; border-spacing: 14px 8px; margin-left: -16px; width: 100%;
            td                             { border-bottom: 1px solid #eee; color: #555; }
        }
    }
}

