{% trans_default_domain "NitraStoreBundle" %}

{% block cart_block %}
    {% if sets_products is not empty or products is not empty %}
        {% block cart_drop %}
            <div class="cart_drop">
                {% block cart_products %}
                    {# специальные предложения #}
                    {% if sets_products is not empty %}
                        {% for set in sets_products %}
                            {# главный товар специальных предложений #}
                            {{ include('NitraStoreBundle:Modules:checkoutModuleProductListBlock.html.twig', {'item': set['main_product'], 'count': set['amount']}) }}

                            {% for set_product in set['entries'] %}
                                {# товары специальных предложений #}
                                {{ include('NitraStoreBundle:Modules:checkoutModuleProductListBlock.html.twig', {'item': set_product, 'count': set['amount']}) }}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {# товары #}
                    {% if products is not empty %}
                        {% for product in products %}
                            {{ include('NitraStoreBundle:Modules:checkoutModuleProductListBlock.html.twig', {'item': product, 'count': cart[product.id]['quantity']}) }}
                        {% endfor %}
                    {% endif %}
                {% endblock cart_products %}
            </div>
        {% endblock cart_drop %}
    {% endif %}

    {% if total_quantity > 0 %}
        {% block cart_product_count %}
            <a class="cart_info colorbox" id="cart_module_info" href="{{ path('order_page') }}">
                {% block cart_product_count_text %}
                    {{ 'product.cart'|trans }}<span>{{ total_quantity }}&thinsp;{{ 'pcs'|trans }} {{ total_price > 0 ? total_price|price }}</span>
                {% endblock cart_product_count_text %}
            </a>
        {% endblock cart_product_count %}
    {% else %}
        {% block cart_product_empty %}
            <span class="cart_info cart_empty">
                {{ 'product.cart_empty'|trans }}
            </span>
        {% endblock cart_product_empty  %}
    {% endif %}
{% endblock cart_block %}

{% block cart_script %}
    <script type="text/javascript">
        function updateHeaderCart() {
            $.ajax({
                type: "POST",
                url: "{{ path ('cart') }}",
                success: function(html) {
                    $("#cart_module").html(html);
                    $("#cart_module_info").colorbox();
                }
            });
        }
    </script>
{% endblock cart_script %}