{% block cart_success %}
    <div class="cart_success">
        {% block text %}{{ text|raw }}{% endblock text %}
    </div>
    {% block cart_success_script %}
        {% if quickCheckout %}
            {% render(controller("NitraStoreBundle:Common/Common:counter", {'target': 'successful_fast_order' })) %}
        {% else %}
            {% render(controller("NitraStoreBundle:Common/Common:counter", {'target': 'successful_order' })) %}
        {% endif %}
        <script>
            {% block colorbox_script %}
                $.fn.colorbox.resize();
            {% endblock colorbox_script %}
            {% block ajax_block %}
                $.ajax({
                    type:       "POST",
                    url:        "{% block ajax_block_path %}{{ path ('cart') }}{% endblock ajax_block_path %}",
                    success:    function(html) {
                        {% block ajax_block_success %}
                            $("#cart_module").html(html);
                            $('.colorbox').colorbox();
                        {% endblock ajax_block_success %}
                    }
                });
            {% endblock ajax_block %}
        </script>
    {% endblock cart_success_script %}
    {% block GA %}
        {% if store.analyticsKod %}
            <script>
                {% set totalPrice = 0 %}
                {% for  product in orderData.products %}
                    {% set totalPrice = totalPrice + product.price * product.quantity %}
                {% endfor %}
                _gaq.push([
                    '_addTrans',
                    '{{ orderId }}',                // номер заказа
                    '{{ orderData.store_name }}',   // магазин
                    '{{ totalPrice }}',             // общая стоимость заказа
                    '{{ orderData.city_name }}'     // города доставки
                ]);
                {% for product in orderData.products %}
                    _gaq.push([
                        '_addItem',
                        '{{ orderId }}',            // номер заказа
                        '{{ product.productId }}',  // код товара (или SKU)
                        '{{ product.name }}',       // название товара
                        '{{ product.category }}',   // категория или версия
                        '{{ product.price }}',      // цена за единицу
                        '{{ product.quantity }}'    // количество единиц товара
                    ]);
                {% endfor %}
            </script>
        {% endif %}
    {% endblock GA %}
{% endblock cart_success %}