<div class="cart_product_item">
    {% block checkout_product %}
        <a href="{{ path('product_page', {'slug': item.alias}) }}" class="item">
            {% block checkout_product_content %}
                {% block checkout_product_image %}
                    <img class="main_image" src="{{ item.image|default('images/no_image.jpg')|imagine_filter('small_thumb') }}" alt="{{ item.name }}" />
                {% endblock checkout_product_image %}
                <div class="info">
                    {% block checkout_product_info %}
                        {% block checkout_product_name %}
                            <span class="name">{{ item.fullName }}</span>
                        {% endblock checkout_product_name %}
                        {% block checkout_product_count %}
                            {% if count > 1 %}<span class="count">{{ count }}&thinsp;{{ 'pcs'|trans({},'NitraStoreBundle') }}</span>{% endif %}
                        {% endblock checkout_product_count %}
                        {% block checkout_product_price %}
                            <span class="price_box">
                                <span class="price">{{ item.checkoutPrice|price }}</span>
                            </span>
                        {% endblock checkout_product_price %}
                    {% endblock checkout_product_info %}
                </div>
            {% endblock checkout_product_content %}
        </a>
    {% endblock checkout_product %}
</div>