{% trans_default_domain "NitraStoreBundle" %}

{% block checkout_product %}
    {% set quantity = (type == "set_main_product" or type == "set_product") ? set['amount'] : cart[item.id]['quantity'] %}
    {% set remove_attr %}
        {% if type == "set_main_product" %}data-quantity="0" data-set="{{ set['id'] }}"{% endif %}
        {% if type == "set_product" %}data-prod="{{ item.id }}" data-set="{{ set['id'] }}"{% endif %}
        {% if type == "product" %}data-quantity="0" data-prod="{{ item.id }}"{% endif %}
    {% endset %}
    {% set quantity_attr_minus %}
        {% if type == "set_main_product" %}data-quantity="{{ set['amount'] - 1 }}" data-set="{{ set['id'] }}"{% endif %}
        {% if type == "product" %}data-quantity="{{ cart[item.id]['quantity'] - 1 }}" data-prod="{{ item.id }}"{% endif %}
    {% endset %}
    {% set quantity_attr_plus %}
        {% if type == "set_main_product" %}data-quantity="{{ set['amount'] + 1 }}" data-set="{{ set['id'] }}"{% endif %}
        {% if type == "product" %}data-quantity="{{ cart[item.id]['quantity'] + 1 }}" data-prod="{{ item.id }}"{% endif %}
    {% endset %}
    {% block product_item %}
        <div class="product_item">
            {% block image %}
                <a href="{{ path('product_page', {'slug': item.alias}) }}" class="images">
                    <img class="main_image" src="{{ item.image|default('images/no_image.jpg')|imagine_filter('cart_thumb',true) }}" alt="{{ item.name }}" />
                </a>
            {% endblock image %}
            {% block name %}
                <a href="{{ path('product_page', {'slug': item.alias}) }}" class="name">
                    <span>{{ item.fullName }}</span>
                </a>
            {% endblock name %}
            {% block quantity %}
                <div class="quantity">
                    {% if not ((type == "set_product") or check) %}<a class="quantity_button plus" {{ quantity_attr_plus }}>{{ 'cart.plus'|trans }}</a>{% endif %}
                    <span{{ quantity_attr is defined ? quantity_attr }}>{{ quantity }}</span>
                    {% if not ((type == "set_product") or check) %}<a class="quantity_button minus" {{ quantity_attr_minus }}>{{ 'cart.minus'|trans }}</a>{% endif %}
                </div>
            {% endblock quantity %}
            {% block price %}
                <div class="price_box">
                    <span class="price">{{ (item.checkoutPrice)|price }}</span>
                </div>
            {% endblock price %}
            {% block remove %}<a class="remove quantity_button" {{ remove_attr }}></a>{% endblock remove %}
        </div>
    {% endblock product_item %}
{% endblock checkout_product %}